* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#tips {
  display: none;
  height: 100px;
  padding: 0 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  box-shadow: 0 0 10px 0 orangered;
  background: linear-gradient(to left, orangered, orange);
  letter-spacing: .2em;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 0 0 3px #ccc;
  animation: texts 1s linear infinite;
  cursor: pointer;
}
#btn {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  box-shadow: 0 0 10px 0 orangered;
  background: linear-gradient(to left, orangered, orange);
  letter-spacing: .2em;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 0 0 3px #ccc;
  animation: texts 1s linear infinite;
  cursor: pointer;
}
#boss {
  width: 800px;
  height: 400px;
  box-shadow: 0 0 10px 0 #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.blinkFood {
  animation: blinks 2s linear infinite;
}
#score {
  position: absolute;
  box-shadow: 0 0 10px #ccc;
  padding: 20px 30px 20px 10px;
  top: 50%;
  transform: translateY(-50%);
}
#score span {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
#score span:nth-of-type(1) {
  margin-bottom: 5px;
}
progress {
  margin-bottom: 20px;
}
@keyframes blinks {
  0% {
    background-color: #8f6e35;
  }
  50% {
    background-color: #fc4503;
  }
  100% {
    background-color: #52380c;
  }
}
@keyframes texts {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 40px;
  }
}
